.navbar li {
  float: left;
  width: 200px;
  text-align: center;
}

.navbar li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  border-radius: 20%;
}

.navbar li a:hover{
  background-color: red;
  color: black;
  border-radius: 2;
}
  
  h1{
    text-align: center;
  }
  
  #palya{
      animation: back 7s infinite; 
      animation-timing-function: linear; } 
      @keyframes back { 100%{ background-position: -3067px 0; }
  }
  
  #nits{
      animation: 10000ms ease-in-out infinite color-change;
  }
  
  @keyframes color-change {
      0% {
        background-color: red;
      }
      33% {
        background-color: white;
      }
      66% {
        background-color: green;
      }
    }
  