body {
    margin: 0px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    top: 0;
    left: 0;
    right: 0;
}

header ul li {
    float: left;
}
  
header li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
header li a:hover:not(.active) {
    background-color: #ddd;
}
  
header li a.active {
    color: white;
    background-color: #04AA6D;
}