body {
    margin: 0px;
    background-color: white;
    color: black;
}

.darkModeButton{
    background-image: url(lightmode.png);
    background-size: 60px;
    background-position: 0%;
    background-repeat: no-repeat;
    width: 30px;
    padding: ;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
}

.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: #3b3b3b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li a:hover:not(.active) {
    background-color: #ddd;
}

.dark-mode {
    background-color: rgb(27, 27, 27);
    color: white;
}

.dark-mode .navbar {
    background-color: rgb(20, 20, 20);
    color: white;
}

.dark-mode .navbar li a {
    color: white;
}

.dark-mode .navbar li a:hover:not(.active) {
    background-color: #3b3b3b;
}

.dark-mode .darkModeButton {
    background-image: url(darkmode.png);
}